In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import numpy as np
from tqdm import tqdm
%matplotlib inline
import xarray

In [10]:
batch_path = '/mnt/c/Users/nozom/Desktop/mass-suite/example_data/batch/'

In [229]:
reference = pd.read_csv(batch_path + os.listdir(batch_path)[0], sep="\\t", engine='python')

In [240]:
sample_df = pd.DataFrame()
# create empty dataframe

num_files = len([f for f in os.listdir(batch_path)if os.path.isfile(os.path.join(batch_path, f))])
# how many files there are in this datagrame

# Following for loop appends all of the files except the first one into 1 big dataframe
for f in range(num_files-1):
    standard = pd.read_csv(batch_path + os.listdir(batch_path)[f+1], sep="\\t", engine='python')
    sample_df = sample_df.append(standard)
sorted_df = sample_df.sort_values(by=['RT (min)'])

#Following part will create a new column called unique peaks 
peak_num = 0
listing = []
for x in range(len(sorted_df)):
    if ((abs(sorted_df.iat[x,4]-sorted_df.iat[(x-1),4]) >= 0.05) & (abs(sorted_df.iat[x,6]-sorted_df.iat[(x-1),6]) >= 0.002)):
        peak_num = peak_num + 1
        listing.append(peak_num)
    else:
        listing.append(peak_num)
sorted_df['unique peak'] = listing
# sorted_df  

# groups the rows by unique peaks and takes an average of the peaks
sorted_df.groupby(['unique peak']).mean()

,PeakID,Scans,RT left(min),RT (min),RT right (min),Precursor m/z,Height,Area,Model masses,Reference RT,...,RT matched,m/z matched,MS/MS matched,RT similarity,Dot product,Reverse dot product,Fragment presence %,Total score,S/N,MSMS spectrum
unique peak,,,,,,,,,,,,,,,,,,,,,
1,157.750395,104.363349,0.484798,0.614464,0.739188,394.121462,6151.422084,2.129886e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,80.766905,NaN
2,316.500000,153.500000,0.770167,0.886375,0.966617,179.036200,4927.083984,4.008860e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,25.137085,NaN
3,327.547619,174.071429,0.914035,1.000072,1.120365,204.969581,4586.458176,3.523658e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,29.844646,NaN
4,338.500000,318.500000,1.578091,1.799425,1.890742,529.888700,2018.816467,1.347374e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,28.439700,NaN
5,339.500000,342.000000,1.727492,1.929475,1.970975,163.122700,6818.686035,4.819521e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,49.116075,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,1089.333333,3515.000000,19.450107,19.488843,19.968427,596.257767,126821.787109,2.012434e+06,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,991.198467,NaN
94,1091.000000,3530.666667,19.468557,19.575533,19.634563,527.996800,19696.072591,1.519450e+05,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,29.619313,NaN
95,1095.000000,3567.250000,19.620667,19.777000,19.877987,615.602775,6286.271484,6.285618e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,73.539607,NaN
96,1102.518519,3653.074074,20.079462,20.252036,20.689193,722.104907,68281.922779,1.292895e+06,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,533.286466,NaN
97,1143.855072,3799.239130,20.928751,21.060840,21.229898,280.282165,11084.108321,9.050133e+04,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,78.286568,NaN

In [ ]:
def sort_peaks(batch_path):
    sample_df = pd.DataFrame()
    num_files = len([f for f in os.listdir(batch_path)if os.path.isfile(os.path.join(batch_path, f))])
    for f in range(num_files-1):
        standard = pd.read_csv(batch_path + os.listdir(batch_path)[f+1], sep="\\t", engine='python')
        sample_df = sample_df.append(standard)
    sorted_df = sample_df.sort_values(by=['RT (min)'])
    peak_num = 0
    listing = []
    for x in range(len(sorted_df)):
        if ((abs(sorted_df.iat[x,4]-sorted_df.iat[(x-1),4]) >= 0.05) & (abs(sorted_df.iat[x,6]-sorted_df.iat[(x-1),6]) >= 0.002)):
            peak_num = peak_num + 1
            listing.append(peak_num)
        else:
            listing.append(peak_num)
    sorted_df['unique peak'] = listing
    return sorted_df.groupby(['unique peak']).mean()

In [ ]:
d